h1,
h5 {
  color: crimson;
  font-family: "Pacifico", cursive;
}

h1 {
  text-align: center;
  padding: 20px;
  margin: auto;
}
h5 {
  text-align: left;
}
button {
  width: 60px;
}

.tempNumber {
  font-size: 36px;
  margin: auto 0;
  text-align: center;
  width: 50%;
}

.tempLinks {
  margin: auto 0;
  font-size: 14px;
}

#weatherEmoji {
  margin: auto 0;
  border-radius: 8px;
  width: 60px;
}

#weatherEmoji:hover {
  background-color: rgb(240, 247, 255);
  border-radius: 8px;
}
.weather-desc:first-letter {
  text-transform: capitalize;
}

.carlPic {
  padding: 0px;
  border-radius: 35px;
  max-height: 180px;
  max-width: 200px;
}

.carlPic:hover {
  background-color: rgb(240, 247, 255);
  transition-duration: 0.3s;
  padding: 2px;
  cursor: pointer;
}

.sign-off {
  opacity: 50%;
  font-size: 12px;
  margin: 0px auto;
  max-width: 300px;
}

.container {
  margin: 0px auto;
}

.app-boxes {
  border: 1px solid rgb(168, 168, 168);
  padding: 20px;
  margin: 0px auto;
  max-width: 500px;
  border-radius: 5px;
  box-shadow: 1px 1px 5px grey;
}

.centred,
.row {
  text-align: center;
}

.lastUpdated {
  opacity: 90%;
  font-size: small;
}
#searchbox {
  width: 250px;
}

#pick-me-button,
#my-location-button {
  width: 120px;
  color: white;
}

.fa-sun {
  color: orange;
}

.fa-cloud-showers-heavy {
  color: navy;
}

.fa-cloud {
  color: grey;
}

.col:hover {
  cursor: pointer;
  background-color: rgb(240, 247, 255);
  transition-duration: 0.5s;
  border-radius: 10px;
}
